// page footer
footer {
  height:390px;
  padding:70px 0 0 0;
  background-color:#222529;
  .container > div {
    color:#474747;
    font-size:rem(17);
    font-weight:500;
    line-height:26px;

    & + div  {
      margin-top:20px;
    }

    a:link,
    a:visited,
    address {
      display: inline;
      color:#474747;
      font-size:rem(17);
      font-style:normal;
    }
    span + address {
      position:relative;
      margin-left:3px;
      padding-left:8px;
      &:before {
        content:'';
        display:block;
        position:absolute;
        top:7px;
        left:0;
        width:1px;
        height:15px;
        background-color:#474747;
      }
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    
  }
}
