// page footer
footer {
  height:390px;
  padding:72px 0 0 0;
  color:#fff;
  background-color:#222529;
  .foot-logo {
    width:107px;
    height:23px;
    background:url("../images/logo_white.svg") no-repeat center center;
    background-size:cover;
    @include fontNone;
  }
  .foot-text-1 {
    margin-top:50px;
    p,
    address {
      display:block;
      margin-top:7px;
      font-style: normal;
      font-size:rem(16);
      font-weight:300;
      line-height:1.1;
    }
  }
  .foot-utill {
    position:absolute;
    top:65px;
    right:0;
    display:flex;
    justify-content: space-between;
    width:50%;
    > li {
      width:193px;
      .tit {
        font-size:rem(16);
        font-weight:700;
      }
      ul {
        padding-top:12px;
        li {
          margin-top:5px;
          a {
            color:#fff;
            font-size:rem(14);
            font-weight:300;
          }
        }
      }
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    
  }
}
