// page header
header {
  height:84px;
  background-color:#fff;
  h1 {
    position:absolute;
    top:30px;
    left:0;
    z-index: 2;
    @include transitionAll;
    a {
      display:block;
      @include fontNone;
      > * {
        display:inline-block;
        vertical-align: middle;
      }
      strong {        
        width:107px;
        height:23px;
        background:url("../images/logo.svg") no-repeat center center;
        background-size:cover;
      }
      span {
        height:24px;
        line-height:26px;
        margin-left:6px;
        padding:0 8px;
        color:#fff;
        font-size:rem(16);
        font-weight:400;
        background-color:#6b4bfb;
        border-radius: 11px;
      }
    }
  }
  .top-utill {
    padding:28px 0 0 0;
    text-align:right;
    > li {
      display:inline-block;
      margin:0 5px;
      a {
        display:block;
        padding:0 8px;
        color:#181818;
        font-size:rem(16);
        line-height:28px;
      }
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    
  }
}