<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title><!--@@var title-->LAFITY</title>

  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <!-- <link rel="alternate" href="http://" hreflang="ko" /> -->

  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">

  <!-- <link rel="icon" type="image/png" href="/favicon.png"> -->
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./css/style.css">

</head>

<body>

  <!-- skip navigation -->
  <div class="skip-nav">
    <a href="#contents">Go To Contents</a>
  </div>

  <!-- wrap -->
  <div id="wrap">
    <!-- header -->
    <header id="header">
      <div class="container">
        <h1>
          <a href="./index.html">
            <strong>LAFITY</strong>
            <span>Beta</span>
          </a>
        </h1>

        <ul class="top-utill">
          <li>
            <a href="">라피티 멤버십</a>
          </li>
          <li>
            <a href="">로그인</a>
          </li>
        </ul>
        
      </div>
    </header>
    <!-- //header -->

    <!-- contents -->
    <section id="contents">
      <!--@@placeholder = contents -->
    </section>
    <!-- //contents -->

    <!-- footer -->
    <footer id="footer">
      <h2 class="invisible">Footer Area</h2>
      <div class="container">
        <p class="foot-logo">LAFITY</p>
        <div class="foot-text-1">
          <p>대표: 신민섭</p>
          <p>사업자등록번호 189-81-01427</p>
          <p>제 2019-서울마포-2128호</p>
          <address>서울특별시 마포구 양화로 161 (동교동) 804호</address>
        </div>
        <ul class="foot-utill">
          <li>
            <p class="tit">CONTACT</p>
            <ul>
              <li><a href="mailto:help@lafity.live">help@lafity.live</a></li>
              <li><a href="tel:0770.8863.4902">0770.8863.4902</a></li>
            </ul>
          </li>
          <li>
            <p class="tit">ABOUT US</p>
            <ul>
              <li><a href="">이용약관</a></li>
              <li><a href="">개인정보 처리방침</a></li>
            </ul>
          </li>
          <li>
            <p class="tit">트레이너</p>
            <ul>
              <li><a href="">트레이너 지원하기</a></li>
              <li><a href="">트레이너 FAQ</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </footer>
    <!-- //footer -->

  </div>
  <!-- //wrap -->

  <!-- jquery cdn -->
  <script src="./js/ui_js.js"></script>
</body>

</html>